## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [6]:
# Your code here
sample_list_1= random.sample(range(0,101), k=80)
print(len(sample_list_1))
print(sample_list_1)

80
[53, 96, 25, 51, 23, 52, 27, 43, 82, 54, 86, 99, 73, 31, 77, 33, 94, 20, 50, 63, 29, 19, 90, 58, 83, 55, 30, 22, 4, 24, 12, 26, 48, 35, 34, 98, 28, 18, 67, 16, 92, 5, 21, 64, 84, 80, 57, 3, 91, 59, 97, 88, 9, 79, 13, 68, 38, 2, 81, 72, 87, 32, 78, 49, 66, 60, 95, 14, 7, 40, 17, 74, 62, 75, 15, 69, 56, 1, 93, 39]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [8]:
# Your code here
set1=set(sample_list_1)
set1
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [17]:
# Your code here
sample_list_2=[]
for i in range(80):
    sample_list_2.append(random.randint(0, 101))
    
print(sample_list_2)

[71, 50, 33, 85, 7, 87, 23, 24, 31, 32, 12, 35, 34, 77, 26, 27, 51, 92, 0, 87, 74, 58, 45, 16, 70, 70, 1, 8, 31, 47, 75, 15, 74, 17, 24, 12, 16, 79, 50, 97, 45, 73, 5, 57, 89, 3, 31, 46, 10, 96, 7, 90, 5, 91, 94, 4, 77, 63, 101, 65, 20, 90, 77, 34, 47, 76, 88, 85, 21, 51, 87, 1, 20, 39, 71, 101, 20, 50, 5, 50]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [18]:
# Your code here
set2=set(sample_list_2)
print(len(set2))

52

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [20]:
# Your code here
set3=(set1-set2)
print(set3)
len(set3)

{2, 9, 13, 14, 18, 19, 22, 25, 28, 29, 30, 38, 40, 43, 48, 49, 52, 53, 54, 55, 56, 59, 60, 62, 64, 66, 67, 68, 69, 72, 78, 80, 81, 82, 83, 84, 86, 93, 95, 98, 99}

41

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [22]:
# Your code here
set4=set2-set1
print(set4)
len(set4)

{0, 65, 101, 70, 71, 8, 10, 76, 45, 46, 47, 85, 89}

13

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [24]:
# Your code here
set5=set1&set2
print(set5)

{1, 3, 4, 5, 7, 12, 15, 16, 17, 20, 21, 23, 24, 26, 27, 31, 32, 33, 34, 35, 39, 50, 51, 57, 58, 63, 73, 74, 75, 77, 79, 87, 88, 90, 91, 92, 94, 96, 97}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [26]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3)) #set1-set2
print(len(set4)) #set2-set1
print(len(set5)) #set1&set2

80
52
41
13
39

#### Create an empty set called `set6`.

In [38]:
# Your code here
set6=set()
set6

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [41]:
# Your code here
set6.update(set3)
print(set6)
set6.update(set5)
print(set6)

{1, 2, 3, 4, 5, 7, 9, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 38, 39, 40, 43, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 62, 63, 64, 66, 67, 68, 69, 72, 73, 74, 75, 77, 78, 79, 80, 81, 82, 83, 84, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
{1, 2, 3, 4, 5, 7, 9, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 38, 39, 40, 43, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 62, 63, 64, 66, 67, 68, 69, 72, 73, 74, 75, 77, 78, 79, 80, 81, 82, 83, 84, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [42]:
# Your code here
print(set6-set1)

set()

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [47]:
# Your code here
print('set1 contains set2 : ', set1.issubset(set2))
print('set1 contains set3 : ', set1.issubset(set3))

set1 contains set2 :  False
set1 contains set3 :  True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [49]:
# Your code here
print(set3.union(set4, set5))
print(set1.union(set2))
print((set3.union(set4, set5))-(set1.union(set2)))

{0, 1, 2, 3, 4, 5, 7, 8, 9, 10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 38, 39, 40, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 101}
{0, 1, 2, 3, 4, 5, 7, 8, 9, 10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 38, 39, 40, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 101}
set()

#### Using the `pop` method, remove the first element from `set1`.

In [55]:
# Your code here
set1.pop()
print(set1) #in set of numbers pop() removes the first elt

{2, 3, 4, 5, 7, 9, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 38, 39, 40, 43, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 62, 63, 64, 66, 67, 68, 69, 72, 73, 74, 75, 77, 78, 79, 80, 81, 82, 83, 84, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [59]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for i in list_to_remove:
    if i in set1:
        set1.remove(i)
print(set1)

{2, 3, 4, 5, 7, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 38, 40, 43, 48, 50, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 66, 67, 68, 72, 73, 74, 75, 77, 78, 80, 82, 83, 84, 86, 87, 88, 90, 92, 93, 94, 95, 96, 97, 98}